h1{
    color:red;
padding-right: 50px;
}
body{
    background-image: url("img/2.jpg"); 
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-left: 300px;
    color: blue;
    
}
.name{
    color: red;
}
.lastname:hover{
    color:green;
}
.date{
    font-style:italic;
    font-weight: bold;  
}

.submit{
    padding-left: 250px;
}